<div class="author">
  <h1 class="author__heading">Naruto Pain Arch.</h1>
  <p class="author__body">All about Pain.</p>
</div>

<img src="/img/artworks-X5kS5bLjzSuklgQf-aEOiUg-t500x500" alt="PAIN" class="hero-image" width="981" height="528">

<section class="articles">
  <h2 class="articles__heading">Latest Posts</h2>

  <ul class="article-ul">
    
      <li>
        <a href="#">
          <span>Post tile</span>
          <span class="article-list__date">date</span>
        </a>
      </li>
  </ul>

  
    <a href="#" class="pagination">&lt; View Older Posts</a>
</section>