<div class="author">
  <h1 class="author__heading">Naruto Pain Arc.</h1>
  <p class="author__body">All about Pain.</p>
</div>

<img src="img\722faecbff55908d3436f6b9138d4b08.jpg" alt="PAIN" class="hero-image" width="981" height="528">

<section class="articles">
  <h2 class="articles__heading">Latest Posts</h2>

  <ul class="article-ul">
    <% data.forEach(post => { %>
      <li>
        <a href="/post/<%= post._id %>">
          <span><%= post.title %></span>
          <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
        </a>
      </li>
    <% }) %>
  </ul>



  <% if (nextPage !== null) { %>
    <a href="/?page=<%= nextPage %>" class="pagination">View Older Posts &gt;</a>

  <% } %>

</section>